In [1]:
import pandas as pd
import os
import sys
import seaborn as sns
import matplotlib.pyplot as plt
import psycopg2
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline

In [2]:
notebook_dir = os.getcwd()
sys.path.append(os.path.abspath(os.path.join(notebook_dir, '..')))
sys.path.append(os.path.abspath('../scripts'))

In [3]:
from scripts.data_loader import load_data, load_excel_data
from scripts.db_utils import fetch_data_from_db
from scripts.sql_query import get_user_data_query
from scripts.analysis import missing_values_table, convert_columns_to_mb,apply_ms_to_sec_and_drop, ExperienceAnalyzer

In [4]:
# Define your query
query = "SELECT * FROM xdr_data;"  # Replace with the table or query you want

# Fetch data
data_tel = fetch_data_from_db(query)

# Display the data
if data_tel is not None:
    print(data_tel.head())
else:
    print("Failed to fetch data.")

c:\Users\fikad\Desktop\DESKTOP\10acedamy\Week_2\scripts\db_utils.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql_query(query, connection)

      Bearer Id            Start  Start ms              End  End ms  \
0  1.311448e+19   4/4/2019 12:01     770.0  4/25/2019 14:35   662.0
1  1.311448e+19   4/9/2019 13:04     235.0   4/25/2019 8:15   606.0
2  1.311448e+19   4/9/2019 17:42       1.0  4/25/2019 11:58   652.0
3  1.311448e+19   4/10/2019 0:31     486.0   4/25/2019 7:36   171.0
4  1.311448e+19  4/12/2019 20:10     565.0  4/25/2019 10:40   954.0

   Dur. (ms)          IMSI  MSISDN/Number          IMEI  \
0  1823652.0  2.082014e+14   3.366496e+10  3.552121e+13
1  1365104.0  2.082019e+14   3.368185e+10  3.579401e+13
2  1361762.0  2.082003e+14   3.376063e+10  3.528151e+13
3  1321509.0  2.082014e+14   3.375034e+10  3.535661e+13
4  1089009.0  2.082014e+14   3.369980e+10  3.540701e+13

      Last Location Name  ...  Youtube DL (Bytes)  Youtube UL (Bytes)  \
0  9.16456699548519E+015  ...          15854611.0           2501332.0
1                L77566A  ...          20247395.0          19111729.0
2                D42335A  ...          19725661.0          14699576.0
3                T21824A  ...          21388122.0          15146643.0
4                D88865A  ...          15259380.0          18962873.0

   Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  \
0           8198936.0           9656251.0        278082303.0
1          18338413.0          17227132.0        608750074.0
2          17587794.0           6163408.0        229584621.0
3          13994646.0           1097942.0        799538153.0
4          17124581.0            415218.0        527707248.0

   Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  \
0         14344150.0       171744450.0         8814393.0        36749741.0
1          1170709.0       526904238.0        15055145.0        53800391.0
2           395630.0       410692588.0         4215763.0        27883638.0
3         10849722.0       749039933.0        12797283.0        43324218.0
4          3529801.0       550709500.0        13910322.0        38542814.0

   Total DL (Bytes)
0       308879636.0
1       653384965.0
2       279807335.0
3       846028530.0
4       569138589.0

[5 rows x 55 columns]

In [5]:
data_tel

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,1.585461e+07,2.501332e+06,8.198936e+06,9.656251e+06,2.780823e+08,1.434415e+07,1.717444e+08,8.814393e+06,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,2.024740e+07,1.911173e+07,1.833841e+07,1.722713e+07,6.087501e+08,1.170709e+06,5.269042e+08,1.505514e+07,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,1.972566e+07,1.469958e+07,1.758779e+07,6.163408e+06,2.295846e+08,3.956300e+05,4.106926e+08,4.215763e+06,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,2.138812e+07,1.514664e+07,1.399465e+07,1.097942e+06,7.995382e+08,1.084972e+07,7.490399e+08,1.279728e+07,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,1.525938e+07,1.896287e+07,1.712458e+07,4.152180e+05,5.277072e+08,3.529801e+06,5.507095e+08,1.391032e+07,38542814.0,569138589.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7.277826e+18,4/29/2019 7:28,451.0,4/30/2019 6:02,214.0,81230.0,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,1.619167e+07,1.176343e+07,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,57628851.0,574175259.0
149997,7.349883e+18,4/29/2019 7:28,483.0,4/30/2019 10:41,187.0,97970.0,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,1.387723e+07,8.288284e+06,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,39135081.0,666648844.0
149998,1.311448e+19,4/29/2019 7:28,283.0,4/30/2019 10:46,810.0,98249.0,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2.266051e+07,1.855903e+06,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,34912224.0,592786405.0
149999,1.311448e+19,4/29/2019 7:28,696.0,4/30/2019 10:40,327.0,97910.0,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,8.817106e+06,8.305402e+06,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,29626096.0,371895920.0
150000,NaN,None,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,NaN,NaN

In [6]:
missing_values_df = missing_values_table(data_tel)
print("Missing Values in df:")
print(missing_values_df)

Your selected dataframe has 55 columns.
There are 41 columns that have missing values.
Missing Values in df:
                                          Missing Values  % of Total Values  \
Nb of sec with 37500B < Vol UL                    130254               86.8
Nb of sec with 6250B < Vol UL < 37500B            111843               74.6
Nb of sec with 125000B < Vol DL                    97538               65.0
TCP UL Retrans. Vol (Bytes)                        96649               64.4
Nb of sec with 31250B < Vol DL < 125000B           93586               62.4
Nb of sec with 1250B < Vol UL < 6250B              92894               61.9
Nb of sec with 6250B < Vol DL < 31250B             88317               58.9
TCP DL Retrans. Vol (Bytes)                        88146               58.8
HTTP UL (Bytes)                                    81810               54.5
HTTP DL (Bytes)                                    81474               54.3
Avg RTT DL (ms)                                    27829               18.6
Avg RTT UL (ms)                                    27812               18.5
Last Location Name                                  1153                0.8
MSISDN/Number                                       1066                0.7
Bearer Id                                            991                0.7
Nb of sec with Vol UL < 1250B                        793                0.5
UL TP < 10 Kbps (%)                                  792                0.5
50 Kbps < UL TP < 300 Kbps (%)                       792                0.5
UL TP > 300 Kbps (%)                                 792                0.5
10 Kbps < UL TP < 50 Kbps (%)                        792                0.5
Nb of sec with Vol DL < 6250B                        755                0.5
DL TP > 1 Mbps (%)                                   754                0.5
50 Kbps < DL TP < 250 Kbps (%)                       754                0.5
250 Kbps < DL TP < 1 Mbps (%)                        754                0.5
DL TP < 50 Kbps (%)                                  754                0.5
Handset Manufacturer                                 572                0.4
Handset Type                                         572                0.4
IMEI                                                 572                0.4
IMSI                                                 570                0.4
Start                                                  1                0.0
Start ms                                               1                0.0
End                                                    1                0.0
End ms                                                 1                0.0
Dur. (ms)                                              1                0.0
Avg Bearer TP UL (kbps)                                1                0.0
Avg Bearer TP DL (kbps)                                1                0.0
Dur. (ms).1                                            1                0.0
Activity Duration UL (ms)                              1                0.0
Activity Duration DL (ms)                              1                0.0
Total UL (Bytes)                                       1                0.0
Total DL (Bytes)                                       1                0.0

                                            Dtype
Nb of sec with 37500B < Vol UL            float64
Nb of sec with 6250B < Vol UL < 37500B    float64
Nb of sec with 125000B < Vol DL           float64
TCP UL Retrans. Vol (Bytes)               float64
Nb of sec with 31250B < Vol DL < 125000B  float64
Nb of sec with 1250B < Vol UL < 6250B     float64
Nb of sec with 6250B < Vol DL < 31250B    float64
TCP DL Retrans. Vol (Bytes)               float64
HTTP UL (Bytes)                           float64
HTTP DL (Bytes)                           float64
Avg RTT DL (ms)                           float64
Avg RTT UL (ms)                           float64
Last Location Name                         object
MSISDN/Number                             float64
Bearer Id                                 float64
Nb of sec with Vol UL < 1250B             float64
UL TP < 10 Kbps (%)                       float64
50 Kbps < UL TP < 300 Kbps (%)            float64
UL TP > 300 Kbps (%)                      float64
10 Kbps < UL TP < 50 Kbps (%)             float64
Nb of sec with Vol DL < 6250B             float64
DL TP > 1 Mbps (%)                        float64
50 Kbps < DL TP < 250 Kbps (%)            float64
250 Kbps < DL TP < 1 Mbps (%)             float64
DL TP < 50 Kbps (%)                       float64
Handset Manufacturer                       object
Handset Type                               object
IMEI                                      float64
IMSI                                      float64
Start                                      object
Start ms                                  float64
End                                        object
End ms                                    float64
Dur. (ms)                                 float64
Avg Bearer TP UL (kbps)                   float64
Avg Bearer TP DL (kbps)                   float64
Dur. (ms).1                               float64
Activity Duration UL (ms)                 float64
Activity Duration DL (ms)                 float64
Total UL (Bytes)                          float64
Total DL (Bytes)                          float64

In [7]:
Aggregation = ExperienceAnalyzer(data_tel)
Aggregation.aggregate_user_data()

In [10]:


# Step 2: Analyze columns for top, bottom, and most frequent values
columns_to_analyze = [
    'TCP DL Retrans. Vol (Bytes)',
    'Avg RTT DL (ms)',
    'Avg Bearer TP DL (kbps)'
]

results = Aggregation.analyze_columns(columns_to_analyze, top_n=10)

# Display the results
for metric, values in results.items():
    print(f"Metric: {metric}")
    print("Top 10 Values:\n", values['Top 10'])
    print("Bottom 10 Values:\n", values['Bottom 10'])
    print("Most Frequent 10 Values:\n", values['Most Frequent 10'])
    print("\n" + "-"*50 + "\n")

Metric: TCP DL Retrans. Vol (Bytes)
Top 10 Values:
 85785    4.289488e+09
32273    4.288060e+09
58026    4.268432e+09
31942    4.254644e+09
62049    4.211189e+09
70079    4.166591e+09
43629    4.131046e+09
48341    4.117753e+09
64113    3.968072e+09
98211    3.785295e+09
Name: TCP DL Retrans. Vol (Bytes), dtype: float64
Bottom 10 Values:
 56622     2.0
95322     2.0
71705     4.0
71778     4.0
87156     4.0
87348     4.0
95213     4.0
95331     4.0
95774     4.0
100616    4.0
Name: TCP DL Retrans. Vol (Bytes), dtype: float64
Most Frequent 10 Values:
 TCP DL Retrans. Vol (Bytes)
2.080991e+07    58332
1.330000e+03      247
2.660000e+03      138
9.200000e+01      112
1.040562e+07      103
3.800000e+01       99
1.318000e+03       79
3.990000e+03       72
1.040498e+07       68
5.320000e+03       64
Name: count, dtype: int64

--------------------------------------------------

Metric: Avg RTT DL (ms)
Top 10 Values:
 47983     96923.0
80249     54847.0
41944     32333.0
93844     26971.0
1713      26250.0
74240     25602.0
104325    25374.0
105752    24733.0
85683     22961.5
15409     20979.0
Name: Avg RTT DL (ms), dtype: float64
Bottom 10 Values:
 28878     0.0
40873     0.0
44748     0.0
66098     0.0
88903     0.0
98541     0.0
39066     2.0
83396     4.0
36039     5.0
106569    5.0
Name: Avg RTT DL (ms), dtype: float64
Most Frequent 10 Values:
 Avg RTT DL (ms)
109.795706    18536
28.000000      2282
27.000000      2013
34.000000      1832
35.000000      1652
37.000000      1640
38.000000      1618
29.000000      1546
36.000000      1541
26.000000      1495
Name: count, dtype: int64

--------------------------------------------------

Metric: Avg Bearer TP DL (kbps)
Top 10 Values:
 49595     264448.0
37838     245347.0
14564     236507.0
60763     230084.0
27722     225035.0
92374     223533.0
98280     223224.0
104697    218742.0
52298     211835.0
52830     209672.0
Name: Avg Bearer TP DL (kbps), dtype: float64
Bottom 10 Values:
 229     0.0
857     0.0
1094    0.0
1204    0.0
1434    0.0
1985    0.0
1992    0.0
2473    0.0
2605    0.0
2671    0.0
Name: Avg Bearer TP DL (kbps), dtype: float64
Most Frequent 10 Values:
 Avg Bearer TP DL (kbps)
23.0    4108
6.0     3062
43.0    2486
44.0    2087
22.0    1824
63.0    1637
48.0    1600
42.0    1575
47.0    1331
45.0    1144
Name: count, dtype: int64

--------------------------------------------------